<div class="">
    <div class="container">
        <div class="border-gray-200 border-t">
        <div class="flex py-4">
            <a href="#" class="text-black hover:text-gray-700">
                Home
            </a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="h-6" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>  
              <span class="text-black">cart</span>                       
        </div>
        <div class="">
            <h1 class="text-title py-6">cart page</h1>
        </div>
        <div class="cart-content flex gap-12">
            <div class="w-8/12 shadow">
            <div class="w-[715px] px-6 py-5 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-black/10 inline-flex flex-col justify-start items-start gap-6 overflow-hidden">
            <div class="self-stretch inline-flex justify-start items-center gap-4">
              <div class="w-32 h-32 relative bg-zinc-100 rounded-lg overflow-hidden">
                <img class="w-32 h-48 left-[-1px] top-[-30.50px] absolute" src="https://placehold.co/125x187" />
              </div>
              <div class="flex-1 flex justify-between items-center">
                <div class="h-28 inline-flex flex-col justify-between items-start">
                  <div class="flex flex-col justify-start items-start gap-0.5">
                    <div class="justify-center text-black text-xl font-bold font-['Satoshi']">Gradient Graphic T-shirt</div>
                    <div class="flex flex-col justify-start items-start gap-1">
                      <div class="justify-start"><span class="text-black text-sm font-normal font-['Satoshi']">Size: </span><span class="text-black/60 text-sm font-normal font-['Satoshi']">Large</span></div>
                      <div class="justify-start"><span class="text-black text-sm font-normal font-['Satoshi']">Color: </span><span class="text-black/60 text-sm font-normal font-['Satoshi']">White</span></div>
                    </div>
                  </div>
                  <h3 class="justify-center text-black text-2xl font-bold font-['Satoshi']">$145</h3>
                </div>
                <div class="w-56 h-32 inline-flex flex-col justify-between items-end">
                  <div class="w-6 h-6 relative overflow-hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20.25 4.5H16.5V3.75C16.5 3.15326 16.2629 2.58097 15.841 2.15901C15.419 1.73705 14.8467 1.5 14.25 1.5H9.75C9.15326 1.5 8.58097 1.73705 8.15901 2.15901C7.73705 2.58097 7.5 3.15326 7.5 3.75V4.5H3.75C3.55109 4.5 3.36032 4.57902 3.21967 4.71967C3.07902 4.86032 3 5.05109 3 5.25C3 5.44891 3.07902 5.63968 3.21967 5.78033C3.36032 5.92098 3.55109 6 3.75 6H4.5V19.5C4.5 19.8978 4.65804 20.2794 4.93934 20.5607C5.22064 20.842 5.60218 21 6 21H18C18.3978 21 18.7794 20.842 19.0607 20.5607C19.342 20.2794 19.5 19.8978 19.5 19.5V6H20.25C20.4489 6 20.6397 5.92098 20.7803 5.78033C20.921 5.63968 21 5.44891 21 5.25C21 5.05109 20.921 4.86032 20.7803 4.71967C20.6397 4.57902 20.4489 4.5 20.25 4.5ZM10.5 15.75C10.5 15.9489 10.421 16.1397 10.2803 16.2803C10.1397 16.421 9.94891 16.5 9.75 16.5C9.55109 16.5 9.36032 16.421 9.21967 16.2803C9.07902 16.1397 9 15.9489 9 15.75V9.75C9 9.55109 9.07902 9.36032 9.21967 9.21967C9.36032 9.07902 9.55109 9 9.75 9C9.94891 9 10.1397 9.07902 10.2803 9.21967C10.421 9.36032 10.5 9.55109 10.5 9.75V15.75ZM15 15.75C15 15.9489 14.921 16.1397 14.7803 16.2803C14.6397 16.421 14.4489 16.5 14.25 16.5C14.0511 16.5 13.8603 16.421 13.7197 16.2803C13.579 16.1397 13.5 15.9489 13.5 15.75V9.75C13.5 9.55109 13.579 9.36032 13.7197 9.21967C13.8603 9.07902 14.0511 9 14.25 9C14.4489 9 14.6397 9.07902 14.7803 9.21967C14.921 9.36032 15 9.55109 15 9.75V15.75ZM15 4.5H9V3.75C9 3.55109 9.07902 3.36032 9.21967 3.21967C9.36032 3.07902 9.55109 3 9.75 3H14.25C14.4489 3 14.6397 3.07902 14.7803 3.21967C14.921 3.36032 15 3.55109 15 3.75V4.5Z" fill="#FF3333"/>
                    </svg>
                  </div>
                  <div class="px-5 py-3 bg-zinc-100 rounded-[62px] inline-flex justify-center items-center gap-5 overflow-hidden">
                    <div class="w-5 h-5 relative overflow-hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M17.8125 10C17.8125 10.2486 17.7137 10.4871 17.5379 10.6629C17.3621 10.8387 17.1236 10.9375 16.875 10.9375H3.125C2.87636 10.9375 2.6379 10.8387 2.46209 10.6629C2.28627 10.4871 2.1875 10.2486 2.1875 10C2.1875 9.75136 2.28627 9.5129 2.46209 9.33709C2.6379 9.16127 2.87636 9.0625 3.125 9.0625H16.875C17.1236 9.0625 17.3621 9.16127 17.5379 9.33709C17.7137 9.5129 17.8125 9.75136 17.8125 10Z" fill="black"/>
                      </svg>
                    </div>
                    <div class="justify-start text-black text-sm font-medium font-['Satoshi']">1</div>
                    <div class="w-5 h-5 relative overflow-hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M17.8125 10C17.8125 10.2486 17.7137 10.4871 17.5379 10.6629C17.3621 10.8387 17.1236 10.9375 16.875 10.9375H10.9375V16.875C10.9375 17.1236 10.8387 17.3621 10.6629 17.5379C10.4871 17.7137 10.2486 17.8125 10 17.8125C9.75136 17.8125 9.5129 17.7137 9.33709 17.5379C9.16127 17.3621 9.0625 17.1236 9.0625 16.875V10.9375H3.125C2.87636 10.9375 2.6379 10.8387 2.46209 10.6629C2.28627 10.4871 2.1875 10.2486 2.1875 10C2.1875 9.75136 2.28627 9.5129 2.46209 9.33709C2.6379 9.16127 2.87636 9.0625 3.125 9.0625H9.0625V3.125C9.0625 2.87636 9.16127 2.6379 9.33709 2.46209C9.5129 2.28627 9.75136 2.1875 10 2.1875C10.2486 2.1875 10.4871 2.28627 10.6629 2.46209C10.8387 2.6379 10.9375 2.87636 10.9375 3.125V9.0625H16.875C17.1236 9.0625 17.3621 9.16127 17.5379 9.33709C17.7137 9.5129 17.8125 9.75136 17.8125 10Z" fill="black"/>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="self-stretch h-0 outline outline-1 outline-offset-[-0.50px] outline-black/10"></div>
            <div class="self-stretch inline-flex justify-start items-center gap-4">
              <div class="w-32 h-32 relative bg-zinc-100 rounded-lg overflow-hidden">
                <img class="w-32 h-48 left-[-1px] top-[-30.50px] absolute" src="https://placehold.co/125x187" />
              </div>
              <div class="flex-1 flex justify-between items-center">
                <div class="h-28 inline-flex flex-col justify-between items-start">
                  <div class="flex flex-col justify-start items-start gap-0.5">
                    <div class="justify-center"><span class="text-black text-xl font-bold font-['Satoshi']">C</span><span class="text-black text-xl font-bold font-['Satoshi'] lowercase">HECKERED</span><span class="text-black text-xl font-bold font-['Satoshi']"> S</span><span class="text-black text-xl font-bold font-['Satoshi'] lowercase">HIRT</span></div>
                    <div class="flex flex-col justify-start items-start gap-1">
                      <div class="justify-start"><span class="text-black text-sm font-normal font-['Satoshi']">Size: </span><span class="text-black/60 text-sm font-normal font-['Satoshi']">Medium</span></div>
                      <div class="justify-start"><span class="text-black text-sm font-normal font-['Satoshi']">Color: </span><span class="text-black/60 text-sm font-normal font-['Satoshi']">Red</span></div>
                    </div>
                  </div>
                  <div class="justify-center text-black text-2xl font-bold font-['Satoshi']">$180</div>
                </div>
                <div class="w-56 h-32 inline-flex flex-col justify-between items-end">
                  <div class="w-6 h-6 relative overflow-hidden">
                    <div class="w-4 h-5 left-[3px] top-[1.50px] absolute bg-red-500"></div>
                  </div>
                  <div class="px-5 py-3 bg-zinc-100 rounded-[62px] inline-flex justify-center items-center gap-5 overflow-hidden">
                    <div class="w-5 h-5 relative overflow-hidden">
                      <div class="w-4 h-0.5 left-[2.19px] top-[9.06px] absolute bg-black"></div>
                    </div>
                    <div class="justify-start text-black text-sm font-medium font-['Satoshi']">1</div>
                    <div class="w-5 h-5 relative overflow-hidden">
                      <div class="w-4 h-4 left-[2.19px] top-[2.19px] absolute bg-black"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="self-stretch h-0 outline outline-1 outline-offset-[-0.50px] outline-black/10"></div>
            <div class="self-stretch inline-flex justify-start items-center gap-4">
              <div class="w-32 h-32 relative bg-zinc-100 rounded-lg overflow-hidden">
                <img class="w-24 h-40 left-[11px] top-[-14px] absolute" src="https://placehold.co/102x153" />
              </div>
              <div class="flex-1 flex justify-between items-center">
                <div class="h-28 inline-flex flex-col justify-between items-start">
                  <div class="flex flex-col justify-start items-start gap-0.5">
                    <div class="justify-center"><span class="text-black text-xl font-bold font-['Satoshi']">S</span><span class="text-black text-xl font-bold font-['Satoshi'] lowercase">KINNY</span><span class="text-black text-xl font-bold font-['Satoshi']"> F</span><span class="text-black text-xl font-bold font-['Satoshi'] lowercase">IT</span><span class="text-black text-xl font-bold font-['Satoshi']"> J</span><span class="text-black text-xl font-bold font-['Satoshi'] lowercase">EANS</span></div>
                    <div class="flex flex-col justify-start items-start gap-1">
                      <div class="justify-start"><span class="text-black text-sm font-normal font-['Satoshi']">Size: </span><span class="text-black/60 text-sm font-normal font-['Satoshi']">Large</span></div>
                      <div class="justify-start"><span class="text-black text-sm font-normal font-['Satoshi']">Color: </span><span class="text-black/60 text-sm font-normal font-['Satoshi']">Blue</span></div>
                    </div>
                  </div>
                  <div class="justify-center text-black text-2xl font-bold font-['Satoshi']">$240</div>
                </div>
                <div class="w-56 h-32 inline-flex flex-col justify-between items-end">
                  <div class="w-6 h-6 relative overflow-hidden">
                    <div class="w-4 h-5 left-[3px] top-[1.50px] absolute bg-red-500"></div>
                  </div>
                  <div class="px-5 py-3 bg-zinc-100 rounded-[62px] inline-flex justify-center items-center gap-5 overflow-hidden">
                    <div class="w-5 h-5 relative overflow-hidden">
                      <div class="w-4 h-0.5 left-[2.19px] top-[9.06px] absolute bg-black"></div>
                    </div>
                    <div class="justify-start text-black text-sm font-medium font-['Satoshi']">1</div>
                    <div class="w-5 h-5 relative overflow-hidden">
                      <div class="w-4 h-4 left-[2.19px] top-[2.19px] absolute bg-black"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
             <div class="w-4/12 shadow">
            <div class="h-44 bg-amber-600"></div>
            </div>
            </div>
        </div>
    </div>
</div>